:host {
  display: block;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  min-height: 250px;
}

.close {
  position: absolute;
  right: 4px;
  cursor: pointer;
  z-index: 10;
}

label {
  display: block;
}
